<%= form_with(model: cloud_info, local: true) do |form| %>
  <% if cloud_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cloud_info.errors.count, "error") %> prohibited this cloud_info from being saved:</h2>

      <ul>
      <% cloud_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :amfstrat %>
    <%= form.text_field :amfstrat %>
  </div>

  <div class="field">
    <%= form.label :latidude %>
    <%= form.text_field :latidude %>
  </div>

  <div class="field">
    <%= form.label :amftropclear %>
    <%= form.text_field :amftropclear %>
  </div>

  <div class="field">
    <%= form.label :amftropcloudy %>
    <%= form.text_field :amftropcloudy %>
  </div>

  <div class="field">
    <%= form.label :logitude %>
    <%= form.text_field :logitude %>
  </div>

  <div class="field">
    <%= form.label :city_id %>
    <%= form.text_field :city_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
