<nav class="navigation_header">
        <div class="navigation__column">
        </div>
        <div class="navigation__column">
            <a href="#">
                <!-- Master branch comment -->
              <div class="logo" >
                <%=image_tag("Logoa.png") %>
                <span> HOME </span>
               </div>
            </a>
        </div>
      <div class="navigation__column">
      </div>
    </nav>
   <main id="feed">
     <% @posts.each do |post| %>
       <div class="photo">
           <header class="photo__header">
               <img src="<%= post.user.photo%>" class="photo__avatar" />
               <div class="photo__user-info">
                   <span class="photo__author"><%= post.user.fullname %></span>
                   <span class="photo__location"><%= post.user.city.name %></span>
               </div>
           </header>
           <img src="<%= post.photo %>" />
           <div class="photo__info">
               <%= post.value %>
               <div class="photo__actions">
                   <span class="photo__action">
                       <i class="fa fa-heart-o fa-lg"></i>
                   </span>
                   <span class="photo__action">
                       <i class="fa fa-comment-o fa-lg"></i>
                   </span>
               </div>
               <span class="photo__likes">45 likes</span>
               <ul class="photo__comments">
                   <li class="photo__comment">
                       <span class="photo__comment-author">serranoarevalo</span> love this!
                   </li>
               </ul>
               <span class="photo__time-ago">2 hours ago</span>
               <div class="photo__add-comment-container">
                   <textarea name="comment" placeholder="Add a comment..."></textarea>
                   <i class="fa fa-ellipsis-h"></i>
               </div>
           </div>
       </div>
       <% end %>
   </main>
   <footer class="footer">
         <nav class="navigation">
                <div class="navigation__column">
                    <ul class="navigations__links">
                      <li class="navigation__list-item">
                        <a href="#" class="footer__link">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                      </li>
                      <li class="navigation__list-item">
                        <a href="#" class="footer__link">
                          <span class="glyphicon glyphicon-search"></span>
                        </a>
                      </li>
                        <li class="navigation__list-item">
                          <a href="#" class="footer__link">
                          <span class="glyphicon glyphicon-king"></span>
                          </a>
                        </li>
                        <li class="navigation__list-item">
                          <a href="#" class="footer__link">
                            <span class="glyphicon glyphicon-map-marker"></span>
                          </a>
                        </li>
                        <li class="navigation__list-item">
                            <a href="#" class="footer__link"><span class="glyphicon glyphicon-globe"></span></a>
                        </li>
                    </ul>
                </div>
            </nav>
   </footer>
